*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    background: url('imgs/bg.png') no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#coupal {
    position: absolute;
    width: 20em;
    height: 20em;
    top: 60%; /* Centers vertically */
    left: 50%; /* Moves it to the left side */
    bottom: 5%;
    transform: translate(90%,20%);
    /* transform: translate(-50%, 0); Start centered */
    animation: dance 3s infinite alternate ease-in-out;
}

#disco {
    position: absolute;
    width: 1em;
    height: 15em;
    top: 11%; /* Adjusts position */
    right: 95%; /* Moves it to the right side */
    transform: translate(-50%, -50%);
}

#coupal img {
    width: 20em;
    height: 20em;
}

#disco img {
    width: 20em;
    height: 20em;
}
@keyframes dance {
    0% {
        transform: translate(10%, 0);
    }
    70% {
        transform: translate(-190%, 0); /* Move to the left */
    }
    100% {
        transform: translate(-100%, 0); /* Return to original position */
    }
}